---
appliance_thin_disk_mode: "true"
ip_family: "ipv4"
time_tools_sync: "true"
ssh_enable: "true"
database_type: "embedded"
ovftool: "/usr/local/bin/ovftool/ovftool"
downloads_dir: "/var/www/html/downloads"
vcsa_ova: "vcsa/vmware-vcsa"
mount_dir_path: "/tmp/vcsa-install"
chaperone_vcsa_iso: "VMware-VCSA.iso"
chaperone_vcsa_md5: "1652d41ae6837b23e177443640579274"
chaperone_vcsa_url: "http://build-squid.eng.vmware.com/build/mts/release/bora-3040890/publish/VMware-VCSA-all-6.0.0-3040890.iso"
ovftool_http_timeout: 25
esx_datacenter: datacenter1
esx_cluster: cluster1
vcsa_task_directory: "/opt/chaperone-ansible/roles/vcsa/tasks"
chaperone_log_directory: "/var/log/chaperone"